extends layout
block content
  //jquery3.2
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  //bootstrap3.3.7
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
  // bootstrap-datetimepicker1.7.1
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js', charset='UTF-8')
  // 日本語ロケール
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.ja.min.js')
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css')

  div.card.my-3
    div.card-header
      h4 #{schedule.scheduleName}
    div.card-body
      p(style="white-space:pre;") #{schedule.memo}
    div.card-footer
      p 作成者: #{schedule.user.username}
  - var isMine = parseInt(user.id) === schedule.user.userId
  if isMine
    div
      a(href=`/schedules/${schedule.scheduleId}/edit`).btn.btn-info この予定を編集する
    div
      //- p.bg-dark.text-white.text-center(style="width: 8%; margin-top: 1%; padding-left: 1%; padding-right: 1%; margin-bottom: 0;") 共有
      h3.my-3 共有用
      //- input#copyTarget(type="text" value=`https://mr-schedule-arranger.herokuapp.com/schedules/${schedule.scheduleId}` readonly)
      input#copyTarget.form-control(type="text" value=`https://mr-schedule-arranger.herokuapp.com/schedules/${schedule.scheduleId}` style="width:50%; margin-bottom: 1%;" readonly)
      button.btn.btn-outline-success.pull-left(type="button" onclick='copyToClipboard()') URLをコピー
      script.
        function copyToClipboard() {
              // コピー対象をJavaScript上で変数として定義する
              var copyTarget = document.getElementById("copyTarget");
              // コピー対象のテキストを選択する
              copyTarget.select();
              // 選択しているテキストをクリップボードにコピーする
              document.execCommand("Copy");
              // コピーをお知らせする
              alert("コピーできました！ : " + copyTarget.value);
          }
  #datepicker.input-group.date
    input.form-control(type='text')
    .input-group-addon
      span.glyphicon.glyphicon-th
      script.
        $('#datepicker').datepicker({
            format: 'yyyy年 MM dd日 DD hh:mm', //日付のフォーマット
            language:'ja', //日本語表示
            pickDate: true,
            pickTime: true,
            hourStep: 1,
            minuteStep: 15,
            secondStep: 30,
            inputMask: true
        });
  h3.my-3 出欠表
  table.table.table-bordered
    tr
      th 予定
      each user in users
        th #{user.username}
    each candidate in candidates
      tr
        th #{candidate.candidateName}
        each user in users
          - var availability = availabilityMapMap.get(user.userId).get(candidate.candidateId)
          - var availabilityLabels = ['欠', '？', '出'];
          - var buttonStyles = ['btn-danger', 'btn-secondary', 'btn-success'];
          td
            if user.isSelf
              button(class=`availability-toggle-button btn-lg ${buttonStyles[availability]}`
                data-schedule-id=schedule.scheduleId
                data-user-id=user.userId
                data-candidate-id=candidate.candidateId
                data-availability=availability) #{availabilityLabels[availability]}
            else
              h3 #{availabilityLabels[availability]}
    tr
      th コメント
      each user in users
        if user.isSelf
          td
            p
              small#self-comment #{commentMap.get(user.userId)}
            button(
              data-schedule-id=schedule.scheduleId
              data-user-id=user.userId)#self-comment-button.btn-xs.btn-info 編集
        else
          td
            p
              small #{commentMap.get(user.userId)}
