extends layout

block content
  div.card.my-3
    div.card-header
      h4 #{schedule.scheduleName}
    div.card-body
      p(style="white-space:pre;") #{schedule.memo}
    div.card-footer
      p 作成者: #{schedule.user.username}
  - var isMine = parseInt(user.id) === schedule.user.userId
  if isMine
    div
      a(href=`/schedules/${schedule.scheduleId}/edit`).btn.btn-info この予定を編集する
    div
      //- p.bg-dark.text-white.text-center(style="width: 8%; margin-top: 1%; padding-left: 1%; padding-right: 1%; margin-bottom: 0;") 共有
      h3.my-3 共有用
      //- input#copyTarget(type="text" value=`https://mr-schedule-arranger.herokuapp.com/schedules/${schedule.scheduleId}` readonly)
      input#copyTarget.form-control(type="text" value=`http://localhost:8000/schedules/${schedule.scheduleId}` style="width:50%;" readonly)
      button.btn.btn-outline-success.pull-right(type="button" onclick='copyToClipboard()') URLをコピー
      script.
        function copyToClipboard() {
              // コピー対象をJavaScript上で変数として定義する
              var copyTarget = document.getElementById("copyTarget");
              // コピー対象のテキストを選択する
              copyTarget.select();
              // 選択しているテキストをクリップボードにコピーする
              document.execCommand("Copy");
              // コピーをお知らせする
              alert("コピーできました！ : " + copyTarget.value);
          }
  h3.my-3 出欠表
  table.table.table-bordered
    tr
      th 予定
      each user in users
        th #{user.username}
    each candidate in candidates
      tr
        th #{candidate.candidateName}
        each user in users
          - var availability = availabilityMapMap.get(user.userId).get(candidate.candidateId)
          - var availabilityLabels = ['欠', '？', '出'];
          - var buttonStyles = ['btn-danger', 'btn-secondary', 'btn-success'];
          td
            if user.isSelf
              button(class=`availability-toggle-button btn-lg ${buttonStyles[availability]}`
                data-schedule-id=schedule.scheduleId
                data-user-id=user.userId
                data-candidate-id=candidate.candidateId
                data-availability=availability) #{availabilityLabels[availability]}
            else
              h3 #{availabilityLabels[availability]}
    tr
      th コメント
      each user in users
        if user.isSelf
          td
            p
              small#self-comment #{commentMap.get(user.userId)}
            button(
              data-schedule-id=schedule.scheduleId
              data-user-id=user.userId)#self-comment-button.btn-xs.btn-info 編集
        else
          td
            p
              small #{commentMap.get(user.userId)}
